<div class="col-md-12" style="padding-right: 120px; padding-top: 60px;">
  <div class="" style="padding-top: -10px">
    <p> Financial and Margin Requirements </p></div>
  <div class="row">
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">


              <div class="ml-auto">
                <h6 class="font-medium text-success mb-0"> $609,754.52 SGD REGULATOR THRESHOLD </h6>
                <svg-icon src="../../../assets/CARD/green2.svg"
                          style="float: right; width: 45px; height: 45px; padding-top: -90px; "></svg-icon>
                <h6 class="font-medium font-16 text-uppercase">Base Capital COMPANY THRESHOLD </h6>
                <svg-icon src="../../../assets/CARD/red2.svg"
                          style="float: right; width: 45px; height: 45px; padding-top: -90px; "></svg-icon>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="ml-auto">
                <h6 class="font-medium text-info mb-0"> 245.07% </h6> <span class="">  REGULATOR THRESHOLD   </span>
                <svg-icon src="../../../assets/CARD/green2.svg"
                          style="float: right; width: 45px; height: 45px; padding-top: -90px; "></svg-icon>
                <h6 class="font-medium font-16 text-uppercase"> FR/TRR RATIO COMPANY THRESHOLD </h6>
                <svg-icon src="../../../assets/CARD/red2.svg"
                          style="float: right; width: 45px; height: 45px; padding-top: -90px; "></svg-icon>


              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <!-- Column -->


    <!-- Column -->
  </div>


  <div class="row" style="padding-top: 30px;">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title"> Financial & margin trends</h6>


          <ul class="nav-items">
            <li class="nav-item tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">
              <a class="nav-link" style=" color: black;"><span> Base Capital </span></a>
            </li>

            <li class="nav-item tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">
              <a  class="nav-link" style=" color: black;"><span> RBC Position</span></a>
            </li>

            <li class=" nav-item tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3'">
              <a class="nav-link" style=" color: black;"><span>Aggregate Indebtedness</span></a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link" style=" color: black;"><span>Adjusted Assets </span></a>
            </li>


          </ul>


          <div class="tab-slider--container" [ngSwitch]="viewMode">
            <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
              <h2>Base Capital</h2>
              <p>Toggle switch style tab navigation. Currently only works with two tabs.</p>
              <p>Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla
                vitae elit libero, a pharetra augue.</p>
            </div>
            <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
              <h2>RBC Position</h2>
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo
                quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
            <div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
              <h2>Aggregate Indebtedness</h2>
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo
                quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
          </div>

          </div>


        </div>
      </div>
    </div>


</div>










