<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-2">
        <app-sidebar></app-sidebar>
    </div>
    
    <div class="col-md-10" style="padding-right: 120px; padding-top: 60px;">
      <div class="" style="padding-top: -10px">
      <p> Employee Profile </p> </div>
      
      <ul class="nav-items">

        <li class="nav-item">
            <a href="#" class="nav-link" style=" color: black; size: 4px; padding-left: 7px ; font-size: 14px; ">  <span>  Personal particular </span></a> 
        

        </li> 
       

        <li class="nav-item">
            <a href="#" class="nav-link" style=" color: black; size: 4px; padding-left: 7px ; font-size: 14px; "><span>  Employement History </span></a>
           
        </li>
      
        <li class="nav-item">
            <a href="#" class="nav-link" style=" color: black;size: 4px; padding-left: 7px ; font-size: 14px; "><span> Competency Requirement </span></a>
            
        </li>
      
        <li class="nav-item">
            <a href="#" class="nav-link" style=" color: black;size: 4px; padding-left: 7px ; font-size: 14px; "><span> Regulated Activities </span></a>
        </li> 

        <li class="nav-item">
            <a href="#" class="nav-link" style=" color: black; size: 4px ; padding-left: 7px; font-size: 14px; "><span> Personal Account  </span></a>
        </li> 

        <li class="nav-item">
            <a href="#" class="nav-link" style=" color: black; size: 4px; padding-left: 7px; font-size: 13.7px;  "><span> Fit&Proper Assessment </span></a>
        </li> 

        
    </ul>



    <div class="col-md-10" style="padding-right: 120px; padding-top: 60px;">
        <div class="" style="padding-top: -10px">
        <p> Privacy statement </p> </div>
        <div class="row">
          <!-- Column -->
         
  
    <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  
                  
                    <div class="ml-auto">
                      <div class="row"> <svg-icon src="../../../assets/my profile/myprofile.svg"></svg-icon> 
                        <div class="col-md-8">
                           
                            <h6 class="font-medium  mb-0"> Terms & Conditions </h6>
                            <h6 class="font-medium font-16 " style="color:rgb(191, 199, 206); margin-top: 13px;">Tlast updated:2021-09-09 Current status: Accepted </h6> 
                           <div   class="col-md-12  font-medium font-16  "   style="color: rgb(67, 67, 181); padding-left: 10px;"> See the document 
                             <svg-icon src="../../../assets/my profile/attachement.svg"></svg-icon> 
                           </div>
                              </div>
                           
                      
                    </div>
                     
                     
                     </div>
      
                </div>

              </div>
            </div>
          </div>
        </div>

        
          <!-- Column -->
        </div>

        <div class="row">
            <!-- Column -->
           
    
      <div class="col-sm-12 col-md-6 col-lg-12" style="margin-top: 50px;">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    
                    <h6 class="font-medium  mb-0"> Fast form filling with Singapass </h6>
                            <p> 
                                Singpass enables you to retrieve your personal data from participating Government agencies.
                                With your consent, we can auto-fill this form, making your application more convenient
                            </p>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
  
          
            <!-- Column -->
          </div>
  
  
         
          <div class=" detail" style="padding-top: 20px">
            <p> Details </p> </div>

            <div class="row">
                <!-- Column -->
                <div class="col-sm-12 col-md-6 col-lg-12">
                 
                        <div class="col-12">
                          
                          
                            <div class="ml-auto">
                              <div class="row">
                                <div class="col-md-8">
                              <h6 class="font-medium font-16 " style="font-size: x-small;" > Employee Designation (Roles )* </h6>  
                                </div>
                                <div class="col-md-4"> 
                                    <h6 class="" style="font-size: smaller;" > aaaa </h6>  
                                    <h6 class=""  style="font-size: smaller;"  > aaaa </h6>  
                                    <h6 class=""style="font-size: smaller;" > aaaa</h6>  
                              </div>
                            </div>
                             
                             
                             </div>
              
                        </div>
        
                      </div>
                    </div>
                  </div>


                  <hr>

                  <div class="col-sm-12 col-md-6 col-lg-12">

                  <div class="col-12">
                          
                          
                    <div class="ml-auto">
                      <div class="row">
                        <div class="col-md-6">
                      <h6 class="font-medium font-16 " style="font-size: x-small;" > Employment Date* </h6>  
                        </div>
                        <div class="col-md-4"> 
                            <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                           
                      </div>
                      <div class="col-md-2"> 
                        <h6 class="" style="font-size: smaller;" > ico date </h6>  
                       
                  </div>
                    </div>
                     
                     
                     </div>
      
                </div>

              </div>


              <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: x-small;" > Effective date of appointment ( for" Respresentive" only)* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>


              <div class="col-md-6">
                <h6 class="font-medium font-16 " style="font-size: x-small;" >  Are you a connected person to the CEO, or another employee, director or shareholder of the Corporation' </h6>  
                  </div>
                  <div class="col-md-4"> 
                      <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                     
                </div>
                <div class="col-md-2"> 
                  <h6 class="" style="font-size: smaller;" > ico date </h6>  
                 
            </div>

            <div class="col-md-6">
                <h6 class="font-medium font-16 " style="font-size: x-small;" > Please select the Primary Connected Person* </h6>  
                  </div>
                  <div class="col-md-4"> 
                      <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                     
                </div>
                <div class="col-md-2"> 
                  <h6 class="" style="font-size: smaller;" > ico date </h6>  
                 
            </div>

            <div class="col-md-6">
                <h6 class="font-medium font-16 " style="font-size: x-small;" >Relationship of the connected person to you* </h6>  
                  </div>
                  <div class="col-md-4"> 
                      <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                     
                </div>
                <div class="col-md-2"> 
                  <h6 class="" style="font-size: smaller;" > ico date </h6>  
                 
            </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>



          <hr>

          <div class="col-sm-12 col-md-6 col-lg-12">

          <div class="col-12">
                  
                  
            <div class="ml-auto">
              <div class="row">
                <div class="col-md-6">
              <h6 class="font-medium font-16 " style="font-size: x-small;" >  Will you be based overseas?* </h6>  
                </div>
                <div class="col-md-4"> 
                    <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                   
              </div>
              <div class="col-md-2"> 
                <h6 class="" style="font-size: smaller;" > ico date </h6>  
               
          </div>

          <div class="col-md-6">
            <h6 class="font-medium font-16 " style="font-size: x-small;" >  Reasons* </h6>  
              </div>
              <div class="col-md-4"> 
                  <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                 
            </div>
            <div class="col-md-2"> 
              <h6 class="" style="font-size: smaller;" > ico date </h6>  
             
        </div>
            </div>
             
             
             </div>

        </div>

      </div>
      <hr>

      <div class="col-sm-12 col-md-6 col-lg-12">

      <div class="col-12">
              
              
        <div class="ml-auto">
          <div class="row">
            <div class="col-md-6">
          <h6 class="font-medium font-16 " style="font-size: x-small;" >  Relationship with the Principal*</h6>  
            </div>
            <div class="col-md-4"> 
                <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
               
          </div>
          <div class="col-md-2"> 
            <h6 class="" style="font-size: smaller;" > ico date </h6>  
           
      </div>
        </div>
         
         
         </div>

    </div>

    <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: x-small; margin-left: -13px;" >ukyeob </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller; margin-left: 11px;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>

  </div>
  <hr>

  <div class="col-sm-12 col-md-6 col-lg-12">

  <div class="col-12">
          
          
    <div class="ml-auto">
      <div class="row">
        <div class="col-md-6">
      <h6 class="font-medium font-16 " style="font-size: x-small;" > Employment Date* </h6>  
        </div>
        <div class="col-md-4"> 
            <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
           
      </div>
      <div class="col-md-2"> 
        <h6 class="" style="font-size: smaller;" > ico date </h6>  
       
  </div>
    </div>
     
     
     </div>

</div>

</div>

<hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: smaller;" > Employment Date* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>

          <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: smaller;" > Employment Date* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>

          <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: smaller;" > Employment Date* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>

          <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: smaller;" > Employment Date* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>

          <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: smaller;" > Employment Date* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>

          <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: smaller;" > Employment Date* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>

          <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: smaller;" > Employment Date* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>

          <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: smaller;" > Employment Date* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>

          <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: smaller;" > Employment Date* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>

          <hr>

              <div class="col-sm-12 col-md-6 col-lg-12">

              <div class="col-12">
                      
                      
                <div class="ml-auto">
                  <div class="row">
                    <div class="col-md-6">
                  <h6 class="font-medium font-16 " style="font-size: smaller;" > Employment Date* </h6>  
                    </div>
                    <div class="col-md-4"> 
                        <h6 class="" style="font-size: smaller; margin-left: -12px;" > aa/aa/aa </h6>  
                       
                  </div>
                  <div class="col-md-2"> 
                    <h6 class="" style="font-size: smaller;" > ico date </h6>  
                   
              </div>
                </div>
                 
                 
                 </div>
  
            </div>

          </div>
            </div>
      

            
            
    


        



          

                
        
        
            