<div style="text-align: center">
  <label >Date</label>
  <input type="date" class="form-control" >
</div>
<br>
<div style="text-align: center">
<button type="button" style="color: white;background-color: orangered;align-items: center;border-radius: 5px;border:0px;width: 90px;height: 40px">Add</button>
</div>
