<div class="login">
    <div class="form">
        <h1 class="title"> Log In </h1>
        <div class="form-group">
            <label for="username" class="control-label">Username or email</label>
            <input id="username" class="form-control" name="username" value=""
                type="text" autofocus="" autocomplete="off">
        </div>  
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input id="password" class="form-control" name="password"
                type="password" autocomplete="off">
        </div>  
        <div id="kc-form-buttons" class="form-group">
            <input class="btn btn-primary btn-block btn-lg" name="login"
                 type="submit" value="Log In">
        </div>        
    </div>
</div>
