

    <div class="col-md-12" >
      <div class="" style="padding-top: 10px">
      <p> Dashboard </p> </div>
      <div class="row">
        <!-- Column -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">


                    <div class="ml-auto">
                      <div class="row">
                        <div class="col-md-8">
                          <h4 class="font-medium text-success mb-0">7</h4>
                      <h6 class="font-medium font-16 " >Tasks to review</h6>
                        </div>
                        <div class="col-md-4"> <svg-icon src="../../../assets/CARD/orange.svg" style="float: right; width: 45px; height: 45px; padding-top: -90px; "></svg-icon>
                      </div>
                    </div>


                     </div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Column -->



        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">


                    <div class="ml-auto">
                      <div class="row">
                        <div class="col-md-8">
                          <h4 class="font-medium text-success mb-0">7</h4>
                      <h6 class="font-medium font-16" >Tasks to approve</h6>
                        </div>
                        <div class="col-md-4"> <svg-icon src="../../../assets/CARD/light-blue.svg" style="float: right; width: 45px; height: 45px; padding-top: -90px; "></svg-icon>
                      </div>
                    </div>


                     </div>

                </div>

              </div>
            </div>
          </div>
        </div>




        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">


                    <div class="ml-auto">
                      <div class="row">
                        <div class="col-md-8">
                          <h4 class="font-medium text-success mb-0">17</h4>
                      <h6 class="font-medium font-16" >Tasks to submit</h6>
                        </div>
                        <div class="col-md-4"> <svg-icon src="../../../assets/CARD/dark-blue (2).svg" style="float: right; width: 45px; height: 45px; padding-top: -90px; "></svg-icon>
                      </div>
                    </div>


                     </div>

                </div>

              </div>
            </div>
          </div>
        </div>






        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">


                    <div class="ml-auto">
                      <div class="row">
                        <div class="col-md-8">
                          <h4 class="font-medium text-success mb-0">23</h4>
                      <h6 class="font-medium font-16" >Rejected tasks </h6>
                        </div>
                        <div class="col-md-4"> <svg-icon src="../../../assets/CARD/red.svg" style="float: right; width: 45px; height: 45px; padding-top: -90px; "></svg-icon>
                      </div>
                    </div>


                     </div>

                </div>

              </div>
            </div>
          </div>
        </div>



        <!-- Column -->
      </div>







      <div class="row" style="padding-top: 30px;">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title" style="background-color: #d9e6ec;padding-left: 17px;" >My assigned Tasks</h6>

              <div class="card p-3"  style="padding-bottom: 10px"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
                <footer><small class="text-muted" > Someone famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
              </div>


              <div class="card p-3" style="padding-top: 20px" ><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
                <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4">
          <div class="card">
            <div class="card-body " style=" max-height: 400px;overflow-y: scroll;">
              <h6 class="card-title" style="background-color: #d9e6ec;padding-left: 17px;">Open Tasks</h6>
              <div class="card p-3" style= "padding-bottom: 10px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
              ante.</p>
              <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
              </footer>
                <div class="comment-text w-100">
                <a  class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>To be reviewed</a>
                <a  class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                  Assign to me</a>
                </div>
            </div>
              <div class="card p-3" style="padding-bottom: 10px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
                <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
                <div class="comment-text w-100">
                  <a  class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>To be reviewed</a>
                  <a  class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                    Assign to me</a>
                </div>
              </div>
              <div class="card p-3" style="padding-bottom: 10px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
                <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
                <div class="comment-text w-100">
                  <a  class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>To be reviewed</a>
                  <a  class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                    Assign to me</a>
                </div>
              </div>
              <div class="card p-3" style="padding-bottom: 10px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
                <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
                <div class="comment-text w-100">
                  <a  class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>To be reviewed</a>
                  <a  class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                    Assign to me</a>
                </div>
              </div>
              <div class="card p-3" ><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
                <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
                <div class="comment-text w-100">
                  <a  class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>To be reviewed</a>
                  <a  class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                    Assign to me</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card">
            <div class="card-body " style=" max-height: 400px;overflow-y: scroll;">
              <h6 class="card-title" style="background-color: #d9e6ec;padding-left: 17px;">Complete Tasks</h6>
              <div class="card p-3" style= "padding-bottom: 10px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
              ante.</p>
              <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
              </footer>
                <div class="comment-text w-100">
                <a  class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>To be reviewed</a>
                <a  class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                  Assign to me</a>
                </div>
            </div>
              <div class="card p-3" style="padding-bottom: 10px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
                <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
                <div class="comment-text w-100">
                  <a  class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>To be reviewed</a>
                  <a  class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                    Assign to me</a>
                </div>
              </div>
              <div class="card p-3" style="padding-bottom: 10px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
                <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
                <div class="comment-text w-100">
                  <a  class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>To be reviewed</a>
                  <a  class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                    Assign to me</a>
                </div>
              </div>
              <div class="card p-3" style="padding-bottom: 10px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
                <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
                <div class="comment-text w-100">
                  <a  class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>To be reviewed</a>
                  <a  class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                    Assign to me</a>
                </div>
              </div>
              <div class="card p-3" ><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
                <footer><small class="text-muted"> Someone famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
                <div class="comment-text w-100">
                  <a  class="btn btn btn-rounded btn-default btn-outline mb-2 mb-md-0 m-r-5"><i class="ti-check text-success m-r-5"></i>To be reviewed</a>
                  <a  class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i>
                    Assign to me</a>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>


    </div>


