
    <div class="col-md-10" >
      <div class="" style="padding-top: 10px">

        <p> Trial Balance </p> </div>

      <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">


                    <div class="ml-auto">
                      <h4 class="font-medium text-success mb-0">  boutton </h4>
                      <h6 class="font-medium font-16 text-uppercase" > Add new trial balance </h6>
                      <button (click)="openDialog()">aaaaaaaaa</button>

                     </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="ml-auto">
                    <h4 class="font-medium text-info mb-0"></h4>
                    <h6 class="font-medium font-16 text-uppercase" ></h6>


                   </div>

              </div>

            </div>
          </div>
        </div>
      </div>


        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="ml-auto">
                    <h3 class="font-medium text-danger mb-0"></h3>
                    <h6 class="font-medium font-16 text-uppercase" ></h6>


                   </div>

              </div>

            </div>
          </div>
        </div>
      </div>



        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">

                  <div class="ml-auto">
                    <h3 class="font-medium text-inverse mb-0"></h3>
                    <h6 class="font-medium font-16 text-uppercase" > </h6>


                   </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      </div>
    </div>
