<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-navbar></app-navbar>
<mat-drawer-container>
  <mat-drawer mode="side" opened="true" style="width: 200px;border: 20px">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content style="padding-right: 120px">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>




