
<div class="area"></div>
<nav class="main-menu" >
            <ul>
              <li class="has-subnav">
                <a href="#">
                   <i class="fa fa-list fa-2x" style="width: 50px; height: 50px;padding-left: 20px;"></i>
                    <span class="nav-text" style=" padding-bottom: 50px">
                    </span>
                </a>
            </li>

                <li class="has-subnav">
                    <a routerLink="/financial">

                        <img src="../../../assets/SIDEBAR/FinanceMarginD@2x.svg" style="width: 50px; height: 50px;padding-left: 20px;">
                        <span class="nav-text" style="padding-left: 22px; padding-bottom: 17px;color: #4d5258 "> Financial and Margin Requirements

                        </span>
                    </a>


                </li>



                    <li class="sous-nav" >
                        <a routerLink="/trial">
                        <h6 class="" style="padding-left: 60px; padding-bottom: 17px; size: 8px;" >  Trial  Balance </h6>
                        </a>

                    </li>




                <li class="has-subnav">
                    <a routerLink="/employee" >
                        <img src="../../../assets/SIDEBAR/EmployeeManagementD@2x (2).svg"  style="width: 50px; height: 50px;padding-left: 20px;"  >
                        <span class="nav-text"   style="padding-left: 22px; padding-bottom: 17px;color: #4d5258"> Employee Management

                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a routerLink="/license" >
                        <img src="../../../assets/SIDEBAR/LicenseConditionsD@2x (1).svg"  style="width: 50px; height: 50px;padding-left: 20px;"  >
                        <span class="nav-text" style="padding-left: 22px ; padding-bottom: 17px;color: #4d5258 " >
                            License Conditions
                        </span>
                    </a>

                </li>
                <li>
                    <a routerLink="/personal" >
                        <img src="../../../assets/SIDEBAR/PersonalAccountDealingD@2x (1).svg"  style="width: 50px; height: 50px;padding-left: 20px;"  >
                        <span class="nav-text" style="padding-left: 22px ; padding-bottom: 17px;color: #4d5258"> Personal Account Dealing

                        </span>
                    </a>


                </li>
                <li>
                    <a routerLink="/Platform" >
                        <img src="../../../assets/SIDEBAR/PlatformAdministrationD@2x (1).svg"  style="width: 50px; height: 50px;padding-left: 20px;"  >
                        <span class="nav-text" style="padding-left: 22px;padding-bottom: 17px;color: #4d5258">   Platform Administration

                        </span>
                    </a>


              </li>
