<app-navbar></app-navbar>

<div class="row">
    <div class="col-md-2">
        <app-sidebar></app-sidebar>
    </div>
    
    <div class="col-md-10" style="padding-right: 120px; padding-top: 60px;  ">
      <div class="" style="padding-top: -10px ; ">
      <p> Employees </p> </div>
      <div class="row">
        <!-- Column -->
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  
                  
                    <div class="ml-auto">
                      <div class="row">
                        <div class="col-md-8">
                          <h6 class="" > Self Declaration </h6>

                          
                <ul class="nav-items">
                    <li class="nav-item">
                        <a href="#" class="nav-link" style=" color: black;"><span> 2021</span></a>
                    </li> 
                  
                    <li class="nav-item">
                        <a href="#" class="nav-link" style=" color: black;"><span> 2022</span></a>
                    </li>
                  
                     
                </ul>
                <div class="ml-auto">
                    <div class="row">

                      <div class="col-md-4">
                        <h4 class=" mb-0">424</h4>
                    <h6 class="font-medium font-16" > Employee </h6>  
                      </div>

                      <div class="col-md-4">   <h4 class="" style="color: rgb(33, 33, 126);" mb-0>423</h4>
                        <h6 class="font-medium font-16" > Submitted </h6>  
                    </div>
                    <div class="col-md-4">   <h4 class="" style="color: rgb(53, 199, 199);" mb-0>427</h4>
                        <h6 class="font-medium font-16" > Completed </h6>  
                    </div>
                    </div>
                  
                  </div>
                      
                        </div>
                        
                    </div>
                     
                     
                     </div>
      
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Column -->



        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  
                  
                    <div class="ml-auto">
                      <div class="row">

                        <div class="col-md-8">
                            
                          <h6 class="" > Probity Checks </h6>

                          <ul class="nav-items">
                            <li class="nav-item">
                                <a href="#" class="nav-link" style=" color: black;"><span> 2021</span></a>
                            </li> 
                          
                            <li class="nav-item">
                                <a href="#" class="nav-link" style=" color: black;"><span> 2022</span></a>
                            </li>
                          
                             
                        </ul>

                        <div class="ml-auto">
                            <div class="row">
                        
                        <div class="col-md-4"> 
                            <h4 class=" mb-0">432</h4>
                            <h6 class="font-medium font-16" > Employee </h6>  
                              </div>

                              <div class="col-md-4">   <h4 class="" style="color: rgb(33, 33, 126);" mb-0>431</h4>
                                <h6 class="font-medium font-16" > Submitted </h6>  
                            </div>
                            <div class="col-md-4">   <h4 class="" style="color: rgb(53, 199, 199);" mb-0>434</h4>
                                <h6 class="font-medium font-16" > Completed </h6>  
                            </div>
                        </div>

                    </div>

                      </div>

                      </div>
                    
                    </div>
      
                </div>

              </div>
            </div>
          </div>
        </div>

         
      
        <!-- Column -->
      </div>












      <div class="row" style="padding-top: 50px;">
        <!-- Column -->
        <div class="col-sm-12 col-md-6 col-lg-8">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  
                  
                    <div class="ml-auto">
                      <div class="row">
                        <div class="col-md-12">
                          <h6 class=" mb-0"> Notifications statistics</h6>
                     
<section>
   
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th></th>
            <th style="color: rgb(46, 46, 167); size: 8;">Late Notifications</th>
            <th style="color: rgb(46, 167, 167);">Submitted</th>
            <th style="color: rgb(231, 172, 94);">Require Approval</th>
            <th style="color: rgb(167, 46, 48);">Upcoming</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>Total</td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
           
          </tr>

          <tr>
            <td>Form 3A</td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
          </tr>

          <tr>
            <td>form 3B</td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
          </tr>

          <tr>
            <td>Form 3C</td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
            <td style="text-align: center;"> 0 </td>
          </tr>
         
        
         
        </tbody>
      </table>
    </div>
  </section>
  
  
  
                        </div>
                        
                    </div>
                     
                     
                     </div>
      
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Column -->




        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                    <h6 class="" style="margin-bottom: 30px;"> Outside business interest </h6>
                  
                    <div class="ml-auto">
                      <div class="row">
                        <div class="col-md-8">
                          <h4 class=" mb-0" style="text-align: center; color: rgb(46, 46, 167);">0</h4>
                      <h6 class="font-medium font-16" style="text-align: center;">Requested </h6>  
                        </div>
                        <div class="col-md-4">   <h4 class="mb-0" style="text-align: center; color: rgb(46, 167, 167);">0</h4>
                            <h6 class="font-medium font-16" style="text-align: center;" > Approved </h6>  
                      </div>


                      <div class="col-md-8" style="padding-top: 27px;">
                        <h4 class="s mb-0" style="text-align: center ; color: rgb(231, 172, 94)">0</h4>
                    <h6 class="font-medium font-16" style="text-align: center; " > Pending</h6>  
                      </div>
                      <div class="col-md-4" style="padding-top: 27px;" > 
                        <h4 class=" mb-0" style="text-align: center; color: rgb(167, 46, 48)">0</h4>
                        <h6 class="font-medium font-16" style="text-align: center;"> Rejected</h6>  
                    </div>





                    </div>
                     
                     
                     </div>
      
                </div>

              </div>
            </div>
          </div>
        </div>

         
      
        <!-- Column -->
      </div>






















